name: Test

on:
  push:

jobs:
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - name: Enable SwiftSyntax prebuilts
        run: defaults write com.apple.dt.Xcode IDEPackageEnablePrebuilts YES
      - run: mise test
